@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #e13346 21.43%,
    #e13346 50.63%,
    #e13346 100%,
    #e13346 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #e13346 21.43%,
    #e13346 50.63%,
    #e13346 100%,
    #e13346 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #e13346 21.43%,
    #e13346 50.63%,
    #e13346 100%,
    #e13346 117.04%
  );
}

.active {
  color: #170505;
  padding: 1rem;
  border-radius: 100%;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
